/* CSS Document */
body{
	padding:0;
	margin:0 auto;
	}
	body,.all{
		min-width:1400px;
	}
		.qhcomment {
            width: 1000px;
            margin: 0 auto;
        }
.navigation{
		position:absolute;
		width:1000px;
		height:0px;
		background:rgba(0,0,0,0.1);
		z-index:100;
		margin: 0 auto;
	}
	.navigation .nvalist{/*导航栏*/
		width:990px;
		height:47px;
		/*border:1px solid green;*/
		/*margin-left:450px;*/
		margin-top:24px;
	}
	.navigation .nvalist li{
		display:blck;
		width:90px;
		height:30px;
		/*border:1px solid red;*/
		list-style:none;
		float:left;
		margin-left:60px;
		padding:8px 8px;
		border-radius:5px;
        /*z-index:auto;*/
	}
	.navigation .nvalist li a{
		display:inline-block;
		position:absolute;
		top:28px;
		width:127px;
		height:42px;
		padding:4px;
		margin-left:-23px;
		line-height:30px;
		/*border:1px solid red;*/
		text-align:center;
		text-decoration:none;
		font-size:20px;
		color:#FFF;
		font-weight:600;
		border-radius:5px;
		font-family:"Comic Sans MS", cursive;
	}
	.navigation .nvalist li:hover{
		border-radius:5px;		
		border-bottom:2.5px solid #F60;
	}

    	.search_box{
		position:absolute;
		left: 900px;
		top: 15px;
		/*width:253px;*/
		/*height:50px;*/
		border-bottom:2px solid #fff;
		border-radius:0 0 8px 8px;
		
		/*border:1px solid red;*/
		/*margin-top:-26px;*/
		/*top:50px;*/
		/*right:230px;*/
		
		/*z-index:110;*/
	}
	.search_box span{
		display:inline-block;
		position:absolute;
		right:5px;
		top:50%;
		margin-top:-6px;
		width:29px;
		height:28px;
		cursor:pointer;
		/*background:#fff;*/
	}
	.search_box input[type=text]{
		display:inline-block;
		width:300px;
		height:50px;
		text-indent:2em;
		/*border:1px solid #fff;*/
		top:0px;
		background:none;
		border:none;
		color:#fff;
	}
	.search_box input[type=submit]{
		display:inline-block;
		position:absolute;
		width:71px;
		height:52px;
		top:0px;
		border:none;
		right:0px;		
		color:#fff;
		font-family:'微软雅黑';
		font-weight:bold;
		font-size:1.8em;
		background:none;
	}
	.iconfont{
		font-size:12px;
	}
    #logo {
    position: absolute;
    top: 10px;
    left: -250px;
    width: 280px;
    height: 84px;
    /*border:1px solid red;*/
    z-index: 9;
    background-image:url(../images/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

    #logo a {
        display: block;
        text-align: center;
        font-size: 2em;
        color: #FC9;
        text-decoration: none;
        line-height: 67px;
        font-family: "Comic Sans MS", cursive;
    }
    	.all{
			width:100%;
			 background:#c3e4f3;
		}
		.all-img{
			width:100%; 
			height:430px;
		}
		.all-main{
			width:1000px;
			margin:auto;
		}
		.all-main a{
			color:#09F;
		}
		.all-main li{
			list-style:none;
			line-height:30px;
			text-align:center;
			font-size:15px;
			font:"Arial Black", Gadget, sans-serif;
		}
		
		
		#footer{
			width:100%;
			min-width: 800px;
			height:300px;
			background:rgba(0,0,0,0.5);
			position:relative;
			z-index:99;
			margin:auto;
		}
		#ft_bottom{
			width:1000px;
			height:300px;
			/*border:1px solid #F00;*/
			margin:auto;
		}
		#footer_add1{
			width:295px;
			height:240px;
			/*background:#036;*/
			float:left;
			margin-top:2em;
			border-right:#FFF 1px solid;
		}
		#footer_add1 h4{
			margin-left:2em;
			margin-top:1em;
			color:#CCC;
		}
		#footer_add1 ul{
			list-style:none;
		}
		#footer_add1 li{
			margin-top:1em;
		}
		#footer_add1 li a{
			color:#CCC;
		}
		#footer_add2{
			width:450px;
			height:240px;
			/*background:#036;*/
			float:left;
			margin-top:2em;
			border-right:#fff 1px solid;
		}
		
		
		#add2_list{
			width:430px;
			height:52px;
			/*background:#063;*/
			float:left;
			/*margin-left:10px;*/
			margin-top:20px;
		}
		#add2_list li{
			float:left;
			margin-left:0.2em;
			line-height:50px;
		}
		#add2_list li a{
			color:#CCC;
			text-decoration:none;
		}
		#add2_list ul{
			list-style:none;
		}
		#add2_list p{
			float:left;
			margin-top:20px;
			color:#CCC;
			margin-left:28%;
		}
		#add2_ewm{
			width:538px;
			height:50px;
			
			float:left;
			
			margin-top:65px;
			display:flex;
		}
		#add2_ewm li{
			
			flex:0.1;
			width:40px;
			height:inherit;
			/*border:1px solid #fff;*/
			list-style-type:none;
		}
		.icon_tu {
		  font-family: "iconfont" !important;
		  font-size: 16px;
		  font-style: normal;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  color:#fff;
		  font-size:25px;
		  text-align:center;
		  line-height:50px;
		  cursor:pointer;
		}
		
		.footer_add3{
    		float: left;
    		width: 250px;
    		margin-top: 40px;
    	}
		.footer_add3 img{
			width: 100px;
			height: 100px;
			margin-top: 65px;
			margin-left: 20px;
		}
		 